.main-heading {
    color: green;
}

.sub-heading {
    color: green;
}

.navbar-light .navbar-brand {
    color: green;
}

.pagination_button {
    background-color: green;
    border-color: green;

}
#no_line {
    text-decoration: none;
    color: green;
}