{% extends 'base.html' %}
{% block title %}{{ post.slug }}{% endblock %}

{% block content %}

<h1>{{ post.title }}</h1>
<h3> By: {{ post.author }}</h3>
<h4> Last Updated: {{ post.updated_date }}</h4>
<h4> {{ post.sub_headline }}</h4><br />
<hr>

{{ post.content|safe }}
<br>
<form method="post" action="{% url 'upvote' post.slug %}">
    {% csrf_token %}

    <button class="btn btn-primary btn-sm far fa-thumbs-up btn btn-success" type="submit" name="upvote"
        value="{{ upvote.slug }}"> Upvote</button>
</form>
<p><em><small>{{ post.upvotes.count }}</small></em></p>
<br>
<form method="post" action="{% url 'downvote' post.slug %}">
    {% csrf_token %}
    <button class="btn btn-primary btn-sm far fa-thumbs-down btn btn-success" type="submit" name="downvote"
        value="{{ downvote.slug }}">Downvote</button>
</form>

<p><em><small>{{ post.downvotes.count }}</small></em></p>
<br>

<div class="col-md-8">
    {% if request.user.is_authenticated %}
    <form method="post" action="{% url 'submit-comment' post.slug %}">{% csrf_token %}
        <div class="form-group"></div>
        <textarea class="form-control" name='body' id="id_body"></textarea>


        <button type="submit" class="btn btn-success">Add Comment</button>
    </form>
    {% else %}
    <p><a id="no_line" href="{% url 'account_login' %}">Please login to comment...</a></p>
    {% endif %}
</div>

<br /><br />
<a href="{% url 'home' %}" class="btn btn-primary btn-sm btn btn-success" style="text-decoration: none">Back</a>


<h2>Comments...</h2>
    {% for comment in post.comments.all %}
    <dl>
        <dt>{{ comment.user_name }} | <small>{{ comment.created_on }}</small>
        </dt>
        <dd>{{ comment.body }}
            <form action="{% url 'inappropriate_comment' comment.pk %}" method="POST">
                {% csrf_token %}
                <button class="btn btn-primary btn-sm far fa-frown btn btn-warning" type="submit"
                    name="innappropriate_id"></button>
            </form>
        </dd>
    </dl>

    <hr>

{% endfor %}

{% endblock %}