{% extends 'base.html' %}
{% block title %}{{ post.slug }}{% endblock %}

    {% block content %}

<h1>{{ post.title }}</h1>
<h3> By: {{ post.author }}</h3>
<h4> Last Updated: {{ post.updated_date }}</h4>
<h4> Sub Head: {{ post.sub_headline }}</h4><br/>
<hr>

{{ post.content|safe }}
<br>
<form method="post" action="{% url 'upvote' post.slug %}">
    {% csrf_token %}
    <button class="btn btn-primary btn-sm" type="submit", name="upvote", value="{{ upvote.slug }}" >Upvote</button>
</form>
<p>{{ post.upvotes.count }}</p>
<br>
<div class="col-md-8">
    <form method="post" action="{% url 'submit-comment' post.slug %}">{% csrf_token %}  
    <div class="form-group"></div>
    <textarea class="form-control" name = 'body' id="id_body"></textarea>
</div>

    <button type="submit" class="btn btn-success">Add Comment</button>
</form>
<br/><br/>
<a href="{% url 'home' %}">Back</a>
</div>

<ol>
    {% for comment in post.comments.all %}
    <li> {{ comment.created_on}} | {{ comment.user_name }} </li>
    <li> {{ comment.body }} </li>
    
    {% endfor %}

</ol>


    {% endblock %}