{% extends 'base.html' %}
  {% load static %}
    {% block content %}
<br>
<h1 class="main-heading">Latest Headlines</h1>
    <div class="jumbotron p-4 p-md-5 text-white rounded btn-success">
        <div class="col-md-6 px-0">
          <h1 class="display-4 font-italic">{{ home_news_one.title }}</h1>
          <div class="lead my-3">{{ home_news_one.created_date}}</div>
          <p class="lead my-3">{{ home_news_one.sub_headline }}</p>
          <p class="lead mb-0"><a href="{% url 'article-detail' home_news_one.slug %}" class="text-white font-weight-bold" style="text-decoration: none">Continue reading...</a></p>
        </div>
      </div>
<br>
<div class="row mb-2">
  <div class="col-md-6">
    <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
      <div class="col p-4 d-flex flex-column position-static">
        <h3 class="mb-0 sub-heading">{{ home_news_two.title }}</h3>
        <div class="mb-1 text-muted">{{ home_news_two.created_date}}</div>
        <p class="card-text mb-auto">{{ home_news_two.sub_headline }}</p>
        <a href="{% url 'article-detail' home_news_two.slug %}" class="stretched-link sub-heading" style="text-decoration: none">Continue reading</a>
      </div>
      <div class="col-auto d-none d-lg-block">
        <img src="{% static 'images/solar.jpg' %}" width="200" height="250"/>
      </div>
    </div>
  </div>
<br>
  <div class="col-md-6">
    <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
      <div class="col p-4 d-flex flex-column position-static">
        <h3 class="mb-0 sub-heading">{{ home_news_three.title }}</h3>
        <div class="mb-1 text-muted">{{ home_news_three.created_date}}</div>
        <p class="mb-auto">{{ home_news_three.sub_headline }}</p>
        <a href="{% url 'article-detail' home_news_three.slug %}" class="stretched-link sub-heading" style="text-decoration: none">Continue reading</a>
      </div>
      <div class="col-auto d-none d-lg-block">
        <img src="{% static 'images/earth.jpg' %}" width="200" height="250"/>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-9">
  <h2 class="sub-heading">All News Stories</h2>
  <ul>
  {% for post in object_list %}
      <li>
        <p>
          <a href="{% url 'article-detail' post.slug %}" style="text-decoration: none" class="sub-heading"> {{ post.title }}</a> - {{ post.author }}
        </p>
        <p>
          {{ post.sub_headline }}
        </p>
      </li>

  {% endfor %}
  </ul>
  {% if is_paginated %}
  <nav aria-label="...">
    <ul class="pagination">
      {% if page_obj.has_previous %}
        <li class="page-item"><a class="page-link sub-heading" href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
      {% else %}
        <li class="page-item disabled sub-heading"><a class="page-link sub-heading" href="#" tabindex="-1" aria-disabled="true"><span>&laquo;</span></a></li>
      {% endif %}
      {% for i in paginator.page_range %}
        {% if page_obj.number == i %}
          <li class="page-item btn btn-primary pagination_button" aria-current="page"><span>{{ i }}<span class="sr-only"></span></span></li>
        {% else %}
          <li class="page-item sub-heading"><a class="page-link sub-heading" href="?page={{ i }}">{{ i }}</a></li>
        {% endif %}
      {% endfor %}
      {% if page_obj.has_next %}
        <li class="page-item"><a class="page-link sub-heading" href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
      {% else %}
        <li class="page-item disabled"><a class="page-link" href="#" tabindex="-1" aria-disabled="true"><span>&raquo;</span></a></li>
      {% endif %}
    </ul>
    </nav>
  </div>    
  <aside class="col-md-3 blog-sidebar">
  
  <div class="p-4">
    <h4 class="font-italic sub-heading">Top 5 - Most Liked Stories</h4>
    <ol class="list-unstyled mb-0">
      {% for j in top_five %}
      <li><a href="{% url 'article-detail' j.slug %}" style="text-decoration: none" class="sub-heading">{{ j.title }}</a></li>
      {% endfor %}

    </ol>
  </div>
  </aside>
</div>

{% endif %}

{% endblock %}
