{% extends 'base.html' %}

    {% block content %}
    <div class="jumbotron p-4 p-md-5 text-white rounded bg-dark">
        <div class="col-md-6 px-0">
          <h1 class="display-4 font-italic">{{ object_list.first.title }}</h1>
          <p class="lead my-3">{{ object_list.first.sub_headline }}</p>
          <p class="lead mb-0"><a href="{% url 'article-detail' object_list.first.slug %}" class="text-white font-weight-bold">Continue reading...</a></p>
        </div>
      </div>
<h1>Todays Headlines</h1>

<ul>
{% for post in object_list %}
    <li><a href="{% url 'article-detail' post.slug %}"> {{ post.title }}</a> - {{ post.author }}
    <br/>
    {{ post.content }}</li>

{% endfor %}
</ul>
{% if is_paginated %}
<nav aria-label="...">
  <ul class="pagination">
    {% if page_obj.has_previous %}
      <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
    {% else %}
      <li class="page-item disabled"><a class="page-link" href="#" tabindex="-1" aria-disabled="true"><span>&laquo;</span></a></li>
    {% endif %}
    {% for i in paginator.page_range %}
      {% if page_obj.number == i %}
        <li class="page-item btn btn-primary" aria-current="page"><span>{{ i }}<span class="sr-only"></span></span></li>
      {% else %}
        <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if page_obj.has_next %}
      <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
    {% else %}
      <li class="page-item disabled"><a class="page-link" href="#" tabindex="-1" aria-disabled="true"><span>&raquo;</span></a></li>
    {% endif %}
  </ul>
  </nav> 
{% endif %}

{% endblock %}